.github/CODEOWNERS                               @netlify/pillar-developer-workflow
/packages/build/src/plugins_core/functions/      @netlify/compute
/packages/build/src/plugins_core/edge_functions/ @netlify/compute
