.github/CODEOWNERS @netlify/core-pod-accounts @netlify/pillar-dev-workflow
/packages/build/src/plugins_core/functions/ @netlify/ecosystem-pod-developer-foundations @netlify/runtime-pod-compute
/packages/build/src/plugins_core/edge_functions/ @netlify/ecosystem-pod-developer-foundations @netlify/runtime-pod-compute
