node_modules
research
.DS_Store
terraform
.netlify
yarn-error.log
coverage
.eslintcache
.cache
.vscode
.fleet
.nx

lerna-debug.log

packages/*/package-lock.json
packages/*/lib/
**/fixtures/**/test_netlify.toml
**/fixtures/**/test_headers
**/fixtures/**/test_redirects
**/fixtures/**/.netlify/**/*.zip
**/fixtures/**/manifest.json
**/fixtures/**/edge-functions-dist
**/fixtures/**/edge-functions-import-map.json
**/**/secrets_scanning/fixtures/**/dist
!**/fixtures/**/node_modules
!**/fixtures/**/plugins_cache*/.netlify
!**/fixtures/**/pin_*/.netlify
!**/fixtures/with_preexisting_blobs/**/.netlify
!**/fixtures/**/functions_*/.netlify
!**/fixtures/**/functions_*/.netlify/edge-functions/manifest.json
!**/fixtures/**/monorepo/**/.netlify
**/plugins/deno-cli
!**/fixtures-esm/v2-api-files-and-directories/.netlify

lib
