node_modules
research
.DS_Store
terraform
.netlify
yarn-error.log
.nyc_output
coverage
.eslintcache
.cache
.vscode
packages/*/package-lock.json
**/fixtures/**/test_netlify.toml
**/fixtures/**/test_redirects
**/fixtures/**/.netlify/**/*.zip
**/fixtures/**/manifest.json
!**/fixtures/**/node_modules
!**/fixtures/**/plugins_cache*/.netlify
!**/fixtures/**/pin_*/.netlify
!**/fixtures/**/functions_*/.netlify
