name: Dependency License Scanning

on:
  push:
    branches:
      - main
      - chore/fossa-workflow

defaults:
  run:
    shell: bash

jobs:
  fossa:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Download fossa cli
        run: |-
          mkdir -p $HOME/.local/bin
          curl https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash -s -- -b $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Configuration
        run: |-
          echo -e "version: 3\nproject:\n   id: git@github.com:${GITHUB_REPOSITORY}.git\npaths:\n   exclude:\n      - ./packages/build/tests\n      - ./packages/config/tests" > .fossa.yml
          cat .fossa.yml
      - name: Upload dependencies
        run: FOSSA_TELEMETRY_SCOPE=off fossa analyze --debug
        env:
          FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
